{# src/Coopernet/QuizBundle/Resources/views/Home/index.html.twig #}

{% extends "CoopernetQuizBundle::layout.html.twig" %}

{% block title %}
    Categories - {{ parent() }}
{% endblock %}

{% block body %}

    {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
    <h1>Liaisons faites !!!</h1>

{% endblock %}
