{# src/Coopernet/QuizBundle/Resources/views/Home/index.html.twig #}

{% extends "CoopernetQuizBundle::layout.html.twig" %}

{% block title %}
    Categories - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Effacement de la question {{ answer.id }}</h1>

{% endblock %}
