{# src/Coopernet/QuizBundle/Resources/views/Home/view.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
</head>
<body>
<h1>Hello Quizzer</h1>

<p>
    Les Quiz sont des grands classiques en matière d'apprentissage.<br>
    N'est-ce pas {{ prenom }} {{ nom }} ?<br>
    Tag : {{ tag }}

</p>
</body>
</html>

